<div class='row'>
  <div class='col-xs-12'>
    <%= form_for(@location, :html => {class: "form-horizontal", role: "form" }) do |f| %>
      <div class="form-group">
       <div class="control-label col-sm-2" >
         <%= f.label :loc_code %>
       </div>
       <div class='col-sm-8' >
         <%= f.number_field :loc_code, class: "form-control", autofocus: true, placeholder: "loc_code for Location"  %>
       </div>
      </div>
      <div class="form-group">
       <div class="control-label col-sm-2" >
         <%= f.label :loc_name %>
       </div>
       <div class='col-sm-8' >
         <%= f.text_field :loc_name, class: "form-control", autofocus: true, placeholder: "loc_name for Location"  %>
       </div>
      </div>
      <div class="form-group">
       <div class="control-label col-sm-2" >
         <%= f.label :Primary_Representative %>
       </div>
       <div class='col-sm-8' >
         <%= f.text_field :primany_representative, class: "form-control", autofocus: true, placeholder: "Primary_Representative for location"  %>
       </div>
      </div>
      <div class="form-group">
       <div class="control-label col-sm-2" >
         <%= f.label :Phone %>
       </div>
       <div class='col-sm-8' >
         <%= f.number_field :phone, class: "form-control", autofocus: true, placeholder: "phone for location"  %>
       </div>
      </div>
      <div class="form-group">
        <div class="control-label col-sm-2" >
         <%= f.label :email %>
        </div>
        <div class='col-sm-8' >
         <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "enter email address for location"  %>
        </div>
      </div>
      </br>
    <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10" >
         <%= f.submit  class: "btn btn-primary btn-lg" %>
        </div>
    </div>    
    <% end %>
  </div>
</div>